*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: hsl(218, 23%, 16%);
    font-family: 'Manrope';
}
.container{
    background: hsl(217, 19%, 24%);
    max-width: 500px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    margin: auto ;
    transform: translate(0, 50%);
}
.heading{
    color: hsl(150, 100%, 66%);
}
#advice-text{
    color: hsl(193, 38%, 86%);
    font-size: 28px;
    font-weight: 800;
}
#divider{   
    color: hsl(193, 38%, 86%);
    margin: 30px auto;
}
#dice{
    background: hsl(150, 100%, 66%);
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    right: 43.5%;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(193, 38%, 86%);
    position: absolute;
    bottom: 5%;
    right: 40%;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 767px) and (max-width: 992px){
    .attribution{
        bottom: 0;
        right: 35%;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    .attribution{
        bottom: 0;
        right: 25%;
    }
}

@media (min-width: 375px) and (max-width: 576px){
    .container{
        transform: translate(0, 50%);
        margin: auto;
    }
    img{
        width: 100%;
    }
    .attribution{
        bottom: 0;
        right: 20%;
    }
}

@media (max-width: 375px){
    .container{
        transform: translate(0, 15%);
        margin: auto;
    }
    img{
        width: 100%;
    }
    #dice{
        padding: 15px;
        border-radius: 50%;
        position: absolute;
        right: 45%;
    }
    .attribution{
        bottom: 0;
        right: 10%;
    }
}